<div class="main-tollbal">
    <img class="logo"  src="../../../assets/img/JSbankLogo.jpg">
    <div class="container-buttons">
        <p class="text-button700"> Inicio</p>
        <p class="text-button700"> Nosotros</p>
        <p class="text-button700"> Productos y Servicios</p>
    </div>
    <div class="container-login">
        <p class="text-button">Registrate</p>
        <div class="background-login">
            <p class="text-login">
                Inicia Sesion
            </p>
        </div>
    </div>

    
</div>