<div class="main">
    <app-main-tollbal />
    <div class="container-carousel">
        <app-carousel [images]="images" [autoSlide]="true" />
    </div>
    <div class="container-options">
        <div class="background-options">
            <div class="options">
                <img class="icons" src="../../../assets/img/JSbank-Icon-Pay.jpg">
                <b>Pagos</b>
            </div>
            <div class="options">
                <img class="icons" src="../../../assets/img/JSbank-Icon-tramistes.jpg">
                <b>Tramites Digitales</b>
            </div>
            <div class="options">
                <img class="icons" src="../../../assets/img/JSbank-Icon-help.jpg">
                <b>Pagos</b>
            </div>
        </div>
    </div>
</div>
