<div class="tollbar">
  <app-main-tollbal />
</div>

<div class="main">
  <div class="container-carousel">
    <app-carousel [images]="images" [autoSlide]="true" />
    <div class="container-options">
      <div class="background-options">
        <div class="options">
          <img class="icons" src="../../../assets/img/JSbank-Icon-Pay.jpg">
          <b>Pagos</b>
        </div>
        <div class="options">
          <img class="icons" src="../../../assets/img/JSbank-Icon-tramistes.jpg">
          <b>Tramites Digitales</b>
        </div>
        <div class="options">
          <img class="icons" src="../../../assets/img/JSbank-Icon-help.jpg">
          <b>Ayuda</b>
        </div>
      </div>
    </div>
  </div>

  <div class="container-moreOfUs">
    <div class="container-left">
      <p class="title-section2">
     Nuestros productos
      </p>
      <div class="description-section2">
        JS Bank ofrece una amplia variedad de productos y servicios diseñados para satisfacer tus necesidades financieras. Desde cuentas de ahorro y créditos flexibles hasta inversiones inteligentes y una banca digital innovadora, estamos aquí para ayudarte a construir un futuro financiero sólido.
      </div>
      <div class="button-viewMore">
        <div class="text-button">
          Conoce mas
        </div>
      </div>
    </div>
    <div class="container-right">
      <img class="container-right" src="../../../assets/img/JSbank-products3.jpg">
    </div>
  </div>

  <div class="container-interesting">
      <div class="title-section3">
        Esto tambien te puede interesar
      </div>
      <div class="container-description">
        <div class="description-section3">
          En JS Bank, no solo nos preocupamos por cubrir tus necesidades financieras diarias, sino que también te ofrecemos oportunidades exclusivas para maximizar tu bienestar financiero. Explora estas opciones adicionales que podrían ser perfectas para ti:
        </div>
      </div>
      <div class="containerImg-section3">
        <img class="img-section3" src="../../../assets/img/JSbank-learnBlack.jpg">
        <img class="img-section3" src="../../../assets/img/JSbank-city.jpg">
        <img class="img-section3" src="../../../assets/img/JSbank-stats.jpg">
      </div>
      <div class="container-button-section3">
        <div class="background-button-section3">
          <div class="text-button-section3">
            Miralo ya
          </div>
        </div>
      </div>
  </div>

  <div class="container-reasons">
    <div class="container-title-section4">
      <div class="title-section4">
        ¿Por qué JS bank?
      </div>
    </div>
    <div class="container-main-text-section4">
      <div class="container-text-section4">
        <p class="title-text-section4">
          Innovación en Banca Digital:
        </p>
        <p class="description-text-section4">
          Lideramos la innovación con una plataforma digital conveniente y accesible en todo momento.
        </p>
      </div>
      <div class="container-text-section4">
        <p class="title-text-section4">
          Experiencia del Cliente Excepcional:
        </p>
        <p class="description-text-section4">
          Ofrecemos un servicio personalizado y atención de alta calidad desde el primer contacto.
        </p>
      </div>
      <div class="container-text-section4">
        <p class="title-text-section4">
          Asesoramiento Financiero Personalizado:
        </p>
        <p class="description-text-section4">
          En JS Bank, creemos en ser tu socio financiero. Nuestros asesores expertos están disponibles para proporcionar asesoramiento personalizado, ayudándote a tomar decisiones informadas y alcanzar tus metas financieras.
        </p>
      </div>
      <div class="container-text-section4">
        <p class="title-text-section4">
          Recompensas y Beneficios Exclusivos:
        </p>
        <p class="description-text-section4">
          Con nuestro programa de recompensas, reconocemos y valoramos tu lealtad. Obtén beneficios exclusivos, descuentos y ofertas especiales que hacen que cada transacción sea aún más gratificante.
        </p>
      </div>
    </div>
  </div>

  <div class="container-info-contact">
    <div class="container-text-info-contact">
      <div class="colum-info">
        <div class="title-colum">
          Contactanos
        </div>
        <div class="text-colum">
          Profesion: Ingeniero de sistemas
        </div>
        <div class="text-colum">
          Nombre: Sebastian Fuentes Torres
        </div>
        <div class="text-colum">
          telefono : +57 300 8658910
        </div>
        <div class="text-colum">
          Ubicacion: Cartagena Colombia
        </div>
        <a class="text-colum link" href="http://www.linkedin.com/in/sfuentest" target="_blank">
          LinkedIn: sfuentest
        </a>
      </div>

      <div class="colum-info">
        <div class="title-colum">
          Contactanos
        </div>
        <div class="text-colum">
          Profesion: Tecnologo en Desarrollo de Software
        </div>
        <div class="text-colum">
          Nombre: Jesus Ribon Batista
        </div>
        <div class="text-colum">
          telefono : +57 302 3788086
        </div>
        <div class="text-colum">
          Ubicacion:  Cartagena Colombia
        </div>
        <a class="text-colum" href="http://www.linkedin.com/in/jesus-ribon" target="_blank">
          LinkedIn: Jesus-ribon
        </a>
      </div>
      <div class="line"></div>
      <div class="container-img-developer">
        <img class="img-developer" src="../../../assets/img/JSbank-developer.jpg">
      </div>
    </div>
  </div>
</div>
